*{
	margin: 0;
	padding: 0;
	font-family: Open Sans;
}
.container{
	display: flex;
	width: 1065px;
	height: auto;
	justify-content: space-between;
	margin: auto;
	margin-top: 20px;
}
a.div1{
	width: 520px;
	height: 350px;
	background-image: url(1.jpg);
	background-position: center;
	background-size: cover;
	color: white;
	text-decoration: none;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: .3s;
}
a.div1.d2{
	background-image: url(2.jpg);
	height: 165px;
	margin-bottom: 20px;
}
a.div1.d3{
	background-image: url(3.jpg);
	height: 165px;
}
.title1{
	width: 80%;
	height: 40%;
}
.title1 img{
	float: left;
	margin-right: 17px;
	width: 92px;
}
.title1 b{
	display: block;
	padding-top: 21px;
	font-weight: 300;
	font-size: 31px;
}
a.div1:hover{
	opacity: 0.7;
}