:root{
	--orange-color: #EC6952;
}
*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
/*header*/
.header{
	height: 700px;
	overflow: hidden;
}
/*header navbar*/
.header .navbar.bg-light{
	background-color: white;
	box-shadow: 0 0 4px rgba(0,0,0,0.5);
	color: black;
}
/*header navbar navbar-brand*/
.header .navbar-brand.logo{
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	font-weight: 700;
	background-color: var(--orange-color);
	padding: 15px 30px;
	margin-top: -8px;
	margin-right: 0;
	border-radius:  0 0 5px 5px;
	transition: .4s;
} 
.header .navbar-brand.logo.change-logo{
	background-color: white;
	color:  var(--orange-color);
}
/*header navbar navbar-nav*/
.header .navbar-nav.menu .nav-link{
	text-transform: uppercase;
	padding: 15px;
	font-size: 13px;
	color: white;
	transition: .4s;
}
.header .menu.change-menu .nav-link{
	color: grey;
}
.header .menu .nav-link:hover{
	color: var(--orange-color);
}
.header .menu .nav-item.active .nav-link{
	color: var(--orange-color);
}
.header .menu .btn.sign-up{
	margin-top: 8px;
	border: 1px solid white;
	padding: 8px 10px;
	transition: .4s;
}
.header .menu.change-menu .btn.sign-up{
	background-color: var(--orange-color);
	border: 1px solid var(--orange-color);
	color: white;
}
.header .btn.sign-up:hover{
	border: 1px solid var(--orange-color);
	background-color: var(--orange-color);
	color: white;
}

/*banner*/
.banner .carousel-caption{
	bottom: auto;
	top: 150px;
}
.banner .carousel-item.slide img{
	width: 100%;
	height: 700px;
	overflow: hidden;
	object-fit: cover;
}
.banner h1{
	color: white;
	font-size: 46px;
}
.banner p.text{
	color: white;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 30px;
}
.banner a.btn.try{
	font-size: 18px;
	font-weight: 700;
	padding: 8px 30px;
	background-color: var(--orange-color);
	border: 1px solid var(--orange-color);
	transition: .4s;
	margin-bottom: 20px;
}
.banner a.btn.try:hover{
	background-color: #E9553B;
	border: 1px solid #E9553B;
}
.banner a.watch{
	display: inline-flex;
	color: rgba(255, 255, 255, .7);
	transition: .4s;
}
.banner a.watch i{
	margin-right: 7px;
	font-size: 20px;
	color: rgba(255, 255, 255, .7);
}
.banner a.watch p{
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	padding-top: 3px;
	color: rgba(255, 255, 255, .7);
}
.banner .watch:hover i, .banner .watch:hover p{
	color: white;
}

/*content*/
h2{
	font-size: 36px;
	font-weight: 300;
}
.content{
	padding: 80px 0;
}
/*content item*/
.content .item{
	padding-bottom: 90px;
	border-bottom: 1px solid #dadada;
}
.content .item i{
	margin-right: 10px;
}
.content .item.last{
	border: none;
}
/*content top*/
.content h3{
	font-size: 26px;
	font-weight: 300;
	color: #4a6781;
}
/*content bottom*/
.content .bottom .blockquote{
	background-color: #f5f5f5;
	font-size: 16px;
}
.content .bottom .blockquote p{
	font-style: italic;
	color: #666;
}
.blockquote .blockquote-footer::before{
	display: none;
}
a{
	color: var(--orange-color);
}
/*content more*/
.content .more p{
	font-size: 18px;
	font-weight: 300;
}
.content .more .btn{
	font-weight: 700;
	line-height: 20px;
	padding: 8px 30px;
	border: 2px solid var(--orange-color);
	transition: .4s;
}
.content .more .btn:hover{
	background-color: var(--orange-color);
}

/*slide*/
.slides{
	background-color: #f5f5f5;
	padding: 60px 0 120px 0;
}
/*slide title*/
.slides .title h3{
	font-size: 32px;
	font-weight: 300;
}
/*slide carousel*/
.slides ol.carousel-indicators{
	bottom: -60px;
}
.slides .carousel-indicators li.active{
	background-color: var(--orange-color);
	border: none;
}
.slides .carousel-indicators li{
	background-color: #E0E0E0;
	border: none;
}
.slides .blockquote{
	border: none;
	padding-left: 0;
	font-weight: 300;
}
.slides .blockquote-footer p{
	color: var(--orange-color);
}
.slides .icon i{
	font-size: 25px;
	color: var(--orange-color);
}

/*press*/
.press{
	padding: 80px 0;
}
.press img{
	opacity: .5;
}
.press img:hover{
	opacity: 1;
}
.press .have p.ques{
	font-weight: 300;
	font-size: 18px;
}

/*ready*/
.ready{
	background-image: url(images/ready/bg-1.jpg);
	background-size: cover;
	color: white;
}
.ready .container{
	padding: 80px 0;
}
.ready p.more{
	font-size: 18px;
}
.ready a.btn{
	font-size: 20px;
	font-weight: 700;
	padding: 8px 30px;
}

/*footer*/
footer.footer{
	padding: 80px 0;
	background-color: #253340;
}
footer.footer h3{
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 20px;
	color: white;
}
/*footer list*/
footer.footer ul{
	list-style: none;
}
footer.footer ul li{
	margin-bottom: 10px;
}
footer.footer li i{
	font-size: 10px;
	color: white;
	opacity: .5;
	margin-right: 5px;
}
footer.footer li a{
	color: white;
	font-size: 14px;
	opacity: .5;
}
/*footer about*/
footer.footer .about{
	padding-bottom: 30px;
	border-bottom: 1px solid #2b3b4a;
}
footer.footer .about li:hover a, footer.footer li:hover i{
	color: white;
	opacity: 1;
}
footer.footer .about .icons i{
	font-size: 22px;
	margin-right: 15px;
	opacity: .5;
	color: white;
}
footer.footer .about .icons i:hover{
	opacity: 1;
	color: var(--orange-color);
}
footer.footer p{
	color: white;
	opacity: .5;
	font-size: 14px;
}
footer.footer .about form .btn{
	background-color: #5d80a1;
	border: none;
	padding: 8px 10px;
	color: white;
	font-weight: 700;
	font-size: 14px;
	transition: .4s;
}
footer.footer .about form .btn:hover{
	background-color: #4A6781;
}
/*footer download-contact download*/
footer.footer .download-contact .download .btn{
	width: 230px;
	background-color: transparent;
	border: 1px solid rgba(255, 255, 255, .9);
	font-weight: 700;
	transition: .4s;
}
footer.footer .download .btn li a{
	opacity: .9;
}
footer.footer .download .btn i{
	float: left;
	font-size: 22px;
	opacity: .9;
}
footer.footer .download .btn p{
	float: left;
	font-size: 14px;
	margin: 0;
	margin-left: 5px;
	line-height: 25px;
	opacity: .9;
}
footer.footer .download .btn:hover{
	background-color: #5d80a1;
	border: 1px solid #5d80a1;
	opacity: 1;
}
footer.footer .download .btn:hover p{
	opacity: 1;
}
/*footer download-contact contact list*/
footer.footer .contact ul li p{
	display: inline;
}
footer.footer .contact ul li a{
	opacity: 1;
}
footer.footer .contact li i{
	font-size: 15px;
}
footer.footer .contact li:hover i{
	color: white;
	opacity: .5;
}

/*scroll-top*/
.scroll-top{
	transition: .4s;
	border-radius: 50%;
	background-color: #5d80a1;
	border: none;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
	padding: 7px 10px;
	margin: 0 10px 10px 0;
	opacity: 1;
}
.scroll-top i{
	font-size: 20px;
}
.scroll-top.hidden{
	opacity: 0;
}
/*media phone*/
@media(max-width: 576px){
	.header .menu-fixed{
		width: 100%;
		height: 55px;
		text-align: center;
		margin: 0 auto;
		position: relative;
	}
	.header .logo{
		float: none;
	}
	.header button{
		position: absolute;
		top: 5px;
		right: 20px;
		border: none;
		padding: 0;
	}
	.header .menu{
		background-color: #253340;
		width: 100%;
		padding: 15px 15px 30px;
	}
	.header .menu .btn.sign-up{
		display: inline-block;
		font-weight: 600;
	}
}