:root{
	--orange-color: #EC6952;
}
*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
.header{
	height: 700px;
	overflow: hidden;
}
.header .navbar-brand.logo{
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	font-weight: 700;
	background-color: var(--orange-color);
	padding: 15px 30px;
	margin-top: -8px;
	margin-right: 0;
	border-radius:  0 0 5px 5px;
} 
.header .menu .nav-link{
	text-transform: uppercase;
	padding: 15px;
	font-size: 13px;
	color: white;
	transition: .4s;
}
.header .menu .nav-link:hover{
	color: var(--orange-color);
}
.header .menu .nav-item.active .nav-link{
	color: var(--orange-color);
}
.header .menu .btn.sign-up{
	margin-top: 8px;
	border: 1px solid white;
	padding: 8px 10px;
	transition: .4s;
}
.header .btn.sign-up:hover{
	border: 1px solid var(--orange-color);
	background-color: var(--orange-color);
	color: white;
}
/*banner css*/
.banner .carousel-caption{
	bottom: auto;
	top: 150px;
}
.banner .carousel-item.slide img{
	width: 100%;
	height: 700px;
	overflow: hidden;
	object-fit: cover;
}
.banner h1{
	color: white;
	font-size: 46px;
}
.banner p.text{
	color: white;
	font-size: 18px;
	padding-top: 10px;
	padding-bottom: 30px;
}
.banner a.btn.try{
	font-size: 18px;
	font-weight: 700;
	padding: 8px 30px;
	background-color: var(--orange-color);
	border: 1px solid var(--orange-color);
	transition: .4s;
	margin-bottom: 20px;
}
.banner a.btn.try:hover{
	background-color: #E9553B;
	border: 1px solid #E9553B;
}
.banner .watch{
	display: inline-flex;
	color: rgba(255, 255, 255, .7);
	transition: .4s;
}
.banner .watch i{
	margin-right: 7px;
	font-size: 20px;
	color: rgba(255, 255, 255, .7);
}
.banner .watch p{
	text-decoration: none;
	font-size: 12px;
	text-transform: uppercase;
	padding-top: 3px;
	color: rgba(255, 255, 255, .7);
}

.banner .watch:hover i, .banner .watch:hover p{
	color: white;
}
@media(max-width: 576px){
	.header .menu-fixed{
		width: 100%;
		height: 55px;
		text-align: center;
		margin: 0 auto;
		position: relative;
	}
	.header .logo{
		float: none;
	}
	.header button{
		position: absolute;
		top: 5px;
		right: 20px;
		border: none;
		padding: 0;
	}
	.header .menu{
		background-color: #253340;
		width: 100%;
		padding: 15px 15px 30px;
	}
	.header .menu .btn.sign-up{
		display: inline-block;
		font-weight: 600;
	}
}
