:root{
	--oranger-color: #F4623A;
	--grey-color: #6c757d;
}
*{
	margin: 0;
	padding: 0;
	font-family: 'Merriweather Sans', sans-serif;
}
html, body{
	width: 100%;
	height: 100%;
}
.header{
 	width: 100%;
 	height: 100%;
 	background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(images/header-bg.jpg);
 	background-size: cover;
 	overflow: hidden;
}
/*remove space of navbar (::after)*/
.menu::after{
	display: none;
}
/*change background color when scrolling*/
.navbar.menu.bg-white{
	background-color: white;
	font-size: 12px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, .2);
}
.menu-fixed{
	display: inline;
}
.menu .navbar-brand{
	color: rgba(255, 255, 255, .5);
 	font-weight: 700;
}
.menu .navbar-brand:hover{
	color: white;
}
/*change text color when scrolling*/
.menu .navbar-brand.text-black{
	color: black;
}
.menu .navbar-nav li{
    margin-left: 0;
}
.menu .navbar-nav li a{
 	font-weight: 700;
 	font-size: 13px;
 	padding: 0 16px;
 	line-height: 40px;
}
/*change text color when scrolling*/
.menu .navbar-nav.text-black li a{
	color: black;
}
.banner{
 	color: white;
}
.title{
 	padding-top: 105px;
 	font-size: 30px;
 	font-weight: 500;
 	position: relative;
 	padding-bottom: 30px;
}
.title::after{
 	content: '';
 	width: 50px;
 	height: 2px;
 	border-top: 1px solid black;
 	background: var(--oranger-color);
 	display: block;
 	position: absolute;
 	left: 50%;
 	bottom: 0;
 	margin-left: -25px;
}
.banner .title{
	padding-top: 180px;
	font-size: 48px;
}
p.text{
	font-size: 19px;
	font-family: serif;
	color: #ffffffbf;
}
.banner p.text{
	padding-bottom: 30px;
}
.btn{
 	padding: 20px 36px;
 	border-radius: 40px;
 	font-size: 13px;
 	font-weight: 700;
 	text-transform: uppercase;
 	background-color: var(--oranger-color);
 	color: white;
}
.about{
	background-color: var(--oranger-color);
	color: white;
	padding-bottom: 100px;
}
.about h3{
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.about .title::after{
	background-color: white;
}
.about a.btn{
	background-color: white;
	color: black;
	padding: 20px 40px;
}
.services{
	padding-bottom: 30px;
}
.services .title{
	margin-bottom: 40px;
}
.services h4{
	font-size: 23px;
}
.services p{
	font-size: 16px;
	font-weight: 300;
	font-family: serif;
	color: var(--grey-color);
}
.services i{
	font-size: 3em;
	color: var(--oranger-color);
}
.portfolio .box{
	width: 100%;
	height: auto;
	position: relative;
}
.box img{
	width: 100%;
}
.box .caption{
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	opacity: 0;
	transition: .4s;

	width: 100%;
	height: 100%;
	background: rgba(240, 95, 64, 0.55);
	color: white;
	font-size: 28px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.box .category{
	color: rgba(255, 255, 255, .5);
	text-transform: uppercase;
	font-size: 15px;
	font-weight: bold;
}
.box .name{
	font-family: serif;
}
.portfolio .box:hover .caption{
	opacity: 1;
}
.no-gutter [class*='col-']{
	padding: 0;
}
.download{
	background-color: #212529;
	color: white;
	padding-bottom: 90px;
}
.download .title::after{
	display: none;
}
.download a.btn{
	background-color: white;
	color: black;
}
.contact{
	padding-bottom: 40px;
}
.contact p{
	color: var(--grey-color);
}
.contact .btn{
	width: 100%;
}
.contact i{
	font-size: 2em;
}
.contact form{
	padding-bottom: 40px;
}
@media(max-width: 576px){
 	.menu .navbar-brand{
 		font-size: 20px;
 		color: black;
 	}
 	.menu .navbar-toggler{
 		color: var(--grey-color);
 		border: 1px solid #dadada;
 	}
 	.menu .navbar-toggler:focus{
 		color: var(--grey-color)!important;
 		border: 3px solid grey;
 	}
  	.menu{
   		background: white;
	}
	.menu-fixed{
		display: block;
		height: 40px;
	}
	.menu .navbar-nav{
		width: 100%;
	}
  	.menu .navbar-nav .nav-item .nav-link{
 		color: var(--grey-color);
	   	font-size: 15px;
	   	display: block;
	   	padding: 0;
	}
	.menu .navbar-nav .nav-item .nav-link:hover{
		color: var(--oranger-color);
	}
}
@media(max-width: 992px){
	.banner .title{
		font-size: 36px!important;
	}
}
